[user]
	name = Vladimir Kidyaev
	email = krios2146@gmail.com
[core]
	editor = nvim
	autocrlf = input
[push]
	autoSetupRemote = true
[alias]
	pudge = push
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
